node_modules/
utils/scripts/input.csv
mitplan-backend/.env
mitplan-frontend/.env
.env
secrets/
docker-compose.yml
mitplan-postgres/
.cursorrules
*.code-workspace
package-lock.json
package.json
.vscode/